extends ../layout

include ../mixins/_post_item

block content
  input#currentUserId(type="hidden" value=currentUserId)
  
  // Message container for user notifications
  .messages-container#userMessages
  
  // Offline indicator (will be shown by JS when offline)
  .offline-indicator You are offline. Some features are unavailable.
  
  .back-button-container.mb-3
    a.btn.btn-dark.back-btn(href="/admin/userslist")
      i.fas.fa-arrow-left.me-2
      | Back to Users
  
  main.feed-list-container
    h1 #{user.fullname}'s Feed
    
    if posts && posts.length > 0
      section.posts-list
        each post in posts
          +postItem(post)
    else
      p.no-posts No posts to display.
