extends user_layout

block content-user
  script.
    const currentUserId = "#{currentUserId}";
  .feed-container
    h1.feed-title New Posts
    .posts-container#friendsPosts
    .load-more-container
      button.load-more-btn(type="button") Load More Posts
