extends layout

block content
  .page-container
    .user-container
      .links__container
        button.nav__button.my__profile(type="button" data-page="profile") {my profile}
        button.nav__button.publications(type="button" data-page="feed") {news feed}
        button.nav__button.my__friends(type="button" data-page="friends") {my friends}
      
      block content-user 