extends layout

block content
    .info__container 
        .welcome__text
            span.typing-text
        .buttons__container(style="display: none;")
            button.authorization_button(type="button") Join us!
            button.registration_button(type="button") First time